.caseCardListVCardWrapMenuBtn {
  min-width: 135px !important;
}
.caseCardListVCardWrap {
  .cardWrap {
    display: grid;
    row-gap: 12px;
    column-gap: 12px;
  }
  @media screen and (min-width: 2160px) {
    .cardWrap {
      grid-template-columns: repeat(auto-fit, 228px);
    }
  }
  @media screen and (max-width: 1679px) and (min-width: 1440px) {
    .cardWrap {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }
  @media screen and (max-width: 1439px) and (min-width: 769px) {
    .cardWrap {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  @media screen and (max-width: 2159px) and (min-width: 1920px) {
    .cardWrap {
      grid-template-columns: repeat(7, minmax(0, 1fr));
    }
  }
  @media screen and (max-width: 1919px) and (min-width: 1680px) {
    .cardWrap {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }
  @media screen and (max-width: 1679px) {
    .cardWrap {
      grid-template-columns: repeat(auto-fit, 228px);
    }
  }
}
[noPaddingTag='1'] {
  .next-dialog-body {
    padding: 0
  }

}


