.menuBtn {
  & + & {
    margin-left: 12px;
  }
}
.content {
  background: #f5f5f5;
  height: calc(100vh - 100px);
  padding: 16px 12px 0 12px;
  .head {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .body {
    height: calc(100% - 28px);
    overflow: auto;
    margin-top: 8px;
    padding-right: 8px;
  }
}
.circleBtnWrap {
  display: flex;
}
.circleBtn {
  cursor: pointer;
  width: 64px;
  height: 32px;
  border-radius: 16px;
  background: #fff;
  text-align: center;
  line-height: 32px;
  & + & {
    margin-left: 8px;
  }
  &:hover {
    color: $color-brand1-6;
    font-weight: bold;
  }
  &Active {
    font-weight: bold;
    color: $color-brand1-6;
  }
}
.caseCard {
  &:hover {
    box-shadow: 0 3px 10px #0000001a;
    transform: perspective(1000px) scale(1.01);
    .iconContent {
      display: flex;
      cursor: pointer;
    }
  }
  padding: 13px;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  .top {
    height: 60%;
    border-radius: 5px;
    background: #f1f2f3;
    padding: 13px 20% 0;
    position: relative;
    &-1 {
      background-color: #0a82e514;
    }
    &-2 {
      background-color: #ff7e1514;
    }
    &-3 {
      background-color: #52c41a14;
    }
    .topContent {
      height: 100%;
      width: 100%;
      background-color: white;
      border-radius: 5px;
      position: relative;
      .wordContent {
        height: 100%;
        width: 100%;
        background-color: white;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        overflow: hidden;
        padding: 16px 12px;
        position: absolute;
        color: #7b7b7b;
        flex-direction: column;
        justify-content: space-between;
        display: flex;
      }
    }
  }
  .bottom {
    height: 40%;
    top: 60%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: start;
    .bottomTime {
      color: rgb(153, 153, 153);
      display: flex;
      align-items: center;
      font-size: 13px;
      margin-left: 8px;
    }
  }
  .tag {
    width: 36px;
    height: 20px;
    font-family: "Microsoft YaHei Bold";
    font-weight: 700;
    font-size: 12px;
    text-align: left;
    line-height: 19px;
    text-align: center;
    // 2 采集
    &-2 {
      color: #ff7e15;
      background: #ff7e1514;
      border: 1px solid #ff7e1580;
    }
    // 1 录入
    &-1 {
      color: #0a82e5;
      background: #0a82e514;
      border: 1px solid #0a82e580;
    }
    // 上传
    &-3 {
      color: #52c41a;
      background: #52c41a14;
      border: 1px solid #52c41a80;
    }
  }
  .iconContent {
    margin: 12px;
    display: none;
    float: right;
    top: 0;
    justify-content: end;
    align-items: start;
  }
}
.caseCard > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caseCard::after {
  content: "";
  display: block;
  padding-top: 125%; /* 这是用来保持宽高比例为1.25：1 */
}
.resetIcon {
  background-color: red;
  transform: translateY(-10px);
  color: $color-brand1-6;
}
.rightTop {
  .rightTopTitle {
    display: flex;
    align-items: center;
    &Word {
      margin-left: 5px;
      margin-right: 8px;
      font-size: 20px;
      font-weight: bold;
      width: 240px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .rightTopBtn {
    margin-top: 16px;
  }
}
.rightBottomItem {
  display: flex;
  width: 100%;
  line-height: 1.3;
  & + & {
    margin-top: 16px;
  }
  &Label {
    color: #666;
    width: 30%;
  }
  &Code {
    color: #333;
    width: 70%;
  }
}
.baseDialog {
  background: #edf1f3;
  .next-dialog-body {
    padding: 0
  }

}
